<h1>Shops View</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if @product.image_filename %>
  <p><%= image_tag @product.image_filename %></p>
<% end %>

<%= link_to 'Back', root_path %>
