<h1>Wishlists Page</h1>

<% @favourite_items.each do |item| %>
   <p><%= item.product.title %></p>
   <p><%= item.product.price %></p>
   <p><%= image_tag item.product.image_filename %></p>
   


   <%= form_for item do |f| %>
       <%= f.hidden_field :product_id, :value => item.product.id %>
       
       <%= link_to "Remove Items", favourite_item_path(item), method: :delete, remote: true%>

   <% end %>


<% end %>